<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href = "css/bootstrap.min.css">
    <link rel="stylesheet" href = "css/flat-ui.css">
    <link rel="stylesheet" href = "css/style.css">

    <script src = "js/vue.min.js"></script>
    <script src = "js/vue-resource.min.js"></script>
    <script src = "js/jquery.min.js"></script>
    <script src = "js/bootstrap.min.js"></script>
    <script src = "js/flat-ui.min"></script>




    <title> Aplication To Mobile </title>

  </head>

  <body>

    <div class="container">

        <div id="appcontrol" class="container-fluid">

          <div>
              <h3 class="page-header">{{TitlePage}}</h3>
              <form onsubmit="return false;">
                  <input type="hidden" v-bind:value="Key">
                  <div class="row">
                      <div class="form-group col-md-3">
                          <label for="name">Nome : </label>
                          <input type="text" name="name_prov" v-model="Provider.Name" required="require" class="form-field form-control" id="name"> </div>
                      <div class="form-group col-md-2">
                          <label for="company">Empresa : </label>
                          <input type="text" name="company_prov" v-model="Provider.company" required="require" class="form-field form-control" id="company"> </div>
                      <div class="form-group col-md-2">
                          <label for="office">Cargo : </label>
                          <input type="text" name="office_prov" v-model="Provider.Office" required="require" class="form-field form-control" id="office"> </div>
                      <div class="form-group col-md-2">
                          <label for="CEP">CEP : </label>
                          <input @change="autoCompleteCEP" type="text" name="cep_prov" v-model="Provider.CEP" required="require" class="form-field form-control" id="CEP"> </div>
                      <div class="form-group col-md-2">
                          <label for="region">Região : </label>
                          <input type="text" name="region_prov" v-model="Provider.Region" required="require" class="form-field form-control" id="region"> </div>
                      <div class="form-group col-md-5">
                          <label for="address">Endereço : </label>
                          <input type="text" name="location_prov" v-model="Provider.Location" required="require" class="form-field form-control" id="address"> </div>
                      <div class="form-group col-md-2">
                          <label for="campo8">País : </label>
                          <input type="text" name="country_prov" v-model="Provider.Country" required="require" class="form-field form-control" id="campo8"> </div>
                      <div class="form-group col-md-2">
                          <label for="campo9">Telefone : </label>
                          <div class="input-group"> <span class="input-group-addon" id="iconphone"><i class="glyphicon glyphicon-earphone"></i></span>
                              <input type="text" name="phone_prov" v-model="Provider.Phone" aria-describedby="iconphone" required="require" class="form-field form-control" id="campo9"> </div>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="email">Email : </label>
                          <div class="input-group"> <span class="input-group-addon" id="iconmail"><i class="glyphicon glyphicon-envelope"></i></span>
                              <input type="text" name="email_prov" v-model="Provider.Email" aria-describedby="icomail" required="require" class="form-field form-control" id="email"> </div>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="city">Cidade - Estado : </label>
                          <input type="text" name="city_prov" v-model="Provider.City" required="require" class="form-field form-control" id="city"> </div>
                  </div>
                  <hr/>
                  <div id="actions" class="row">
                      <div class="col-md-12">
                          <button @click="registerprov" class="btn btn-success"> Registrar </button>
                          <button @click="backtolist" class="btn btn-default"> Cancelar </button>
                      </div>
                  </div>
              </form>
          </div>

       </div>

   </div>

      <script src = "js/adicionarP.js"></script>
      <script src = "js/application.js"></script>

  </body>

</html>
